{% extends 'base.html'%}
{% block content %}
<h2 style="margin-left:20%;margin-top:30px;">Find Us Here</h2>
<div class="mapouter" style="margin-left:20%;margin-top:30px;margin-bottom:30px;margin-right:20px;"><div class="gmap_canvas"><iframe width="712" height="388" id="gmap_canvas" src="https://maps.google.com/maps?q=lisa%20hospital&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a><br><style>.mapouter{position:relative;text-align:right;height:388px;width:712px;}</style><a href="https://www.embedgooglemap.net">embed google maps in gmail</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:388px;width:712px;}</style></div></div>
<h2 style="margin-left:20%;margin-top:30px;">Contact Us</h2>
<div style="margin-left:20%;margin-top:30px;margin-bottom:30px;margin-right:20px;">
    <h4>Address</h4>
    <p> calicut town</p>
    <h4>Email</h4>
    <p> @cityhospital.com</p>
    <h4>Telephones</h4>
    <p><i class="bi bi-telephone-outbound-fill"></i>18001075644</p>




{% endblock %}